@import "../../../styles/variables";

.total-wrap {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	margin-left: 3em;
	.button {
		margin-left: 3em;
		color: $Secondary;
		cursor: pointer;
		white-space: nowrap;
	}
}
