@import '../../../styles/partials';
@import "../../../styles/variables";
@import "../../../styles/guide-utils";

.total-wrap {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;

	p {
		white-space: nowrap;
	}
}

.button {
	cursor: pointer !important;
	color: $Secondary;
	white-space: nowrap;
}

.disable-button {
	color: $Grey70;
	cursor: default;
	white-space: nowrap;
}
