// Colors

$Black: #292f3b;
$Grey70: #657390;
$Grey40: #97a1b8;
$Grey10: #e3e9f1;
$Separator: rgba(229, 229, 229, 0.27);
$Background: #f7f8fa;
$White: #ffffff;
$Primary: #ed234e;
$Secondary: #0099ba;
$Ok: #7ed321;
$Error: #e42526;
$BoxShadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
$Error: #d0021b;

// Responsive containers

$tablet-max-width: 575px;
$large-desktop-max-width: 1138px;

// Responsive sizes

$tablet-width: 750px;
$desktop-width: 992px;
$large-desktop-width: 1440px;

$navigation-bar-height: 56px;
$tab-bar-height: 52px;
