@import '../../styles/partials';
@import '../../styles/responsive';
@import "../../styles/variables";
@import "../../styles/guide-utils";

.table-container {
	background-color: $Background;
	width: 100%;
	height: 100%;
	font-size: calc(10px + 1vmin);
	color: black;
	box-sizing: border-box;
	overflow: hidden;

	table {
		width: 100%;
		background-color: $White;
		box-shadow: $BoxShadow;
		caption {
			@extend %text-h5;
			background-color: $White;
			border-bottom: 1px solid #e3e9f1;
			height: 3em;
			width: 100%;
			flex-direction: row;
			padding: 15px;
			h1 {
				text-align: left;
				height: 100%;
				display: flex;
				align-items: center;
			}
		}
		tr {
			td:first-child {
				border-top: 0px;
				border-right: 1px solid $Grey10;
			}
			td {
				box-sizing: border-box;
				overflow: hidden;
				width: 50%;
				padding: 0;
				border-top: 1px solid $Grey10;
			}
		}
	}
	.total-container {
		box-sizing: border-box;
		padding: 30px;
		display: flex;
		align-items: center;
		height: 5em;
		border-top: 1px solid $Grey10;
		border-bottom: 1px solid $Grey10;
		@include mobile {
			padding: 0px;
		}
	}

	.items-container {
		box-sizing: border-box;
		overflow-x: scroll;
		height: 45vh;
		@include largeDesktop {
			height: 70vh;
		}
		@include mobile {
			height: 70vh;
		}
		@include tablet {
			height: 55vh;
		}
	}

	.not-cities {
		display: flex;
		color: $Grey40;
		justify-content: center;
	}
}
