@import '../../../styles/partials';
@import "../../../styles/variables";
@import "../../../styles/guide-utils";

.container {
	box-sizing: border-box;
	padding: 30px;
	display: flex;
	align-items: center;
	height: 5em;
	transition: background-color 300ms;
	input[type=checkbox] {
		position: relative;
		cursor: pointer;
		margin-left: 30px;
	}
	input[type=checkbox]:before {
		content: "";
		display: block;
		position: absolute;
		width: 16px;
		height: 16px;
		top: 0;
		left: 0;
		border: 2px solid #555555;
		border-radius: 3px;
		background-color: white;
	}
	input[type=checkbox]:checked:after {
		content: "";
		display: block;
		width: 5px;
		height: 10px;
		border: solid black;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		top: 2px;
		left: 6px;
	}
	.text-block {
		margin-left: 30px;
		h5 {
			line-height: normal;
			@extend %text-h5;
		}
		h6 {
			line-height: normal;
			@extend %text-h6;
		}
	}
	.image-block {
		border-radius: 50%;
		height: 50px;
		width: 50px;
		background-image: url("../../../assents/china.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		box-sizing: border-box;
	}
}

.container:hover {
	background-color: $Grey10;
}
